<div class="jumbotron text-center" data-aos="fade-up" data-aos-duration="3000">
    <h1 class="display-3">Thank You!</h1>
    <p class="lead"><strong>Thank for purchase </strong>check your cart to see the course r</p>
    <hr>

    <p class="lead">
        <a class="btn btn-primary " asp-controller="Home" asp-action="Index">Continue to homepage</a>
    </p>
</div>
@section Scripts{
    <script>
    
        AOS.init();
    </script>
}